<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Verification Form</title>
    <link rel="stylesheet" href="{% static 'css/authorization.css' %}" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

  </head>
  <body>
    <div class="container">
      <header>
        <i class="bx bxs-check-shield"></i>
      </header>
      <h4>Enter OTP Code</h4>
      <form action="{% url 'authorization' %}" method="post">
        {% csrf_token %}
        <div class="input-field">
          <input type="number" name="num1"  />
          <input type="number" name="num2" disabled />
          <input type="number" name="num3" disabled />
          <input type="number" name="num4" disabled />
        </div>
        <button>Verify OTP</button>
      </form>
    </div>

    <script src="{% static 'js/script.js' %}" defer></script>
  </body>
</html>
