<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/change_pass.css' %}">
    <title>Change Password</title>
</head>
<body>
    <div class="container">
        <h1>Change Password</h1>
        <form action="{% url 'change_pass' %}" method="post" id="changePasswordForm">
            {% csrf_token %}
            <div class="form-group">
                <input type="password" name="new_password" id="new_password" placeholder="Enter New Password" >
            </div>
            <div class="form-group">
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" >
            </div>
            <div class="form-group">
                <input type="submit" id="submit" class="btn btn-primary" style="background: #6b93ff" disabled>
            </div>
        </form>
    </div>

    <script src="{% static 'js/validate_password.js' %}"></script>
</body>
</html>
